*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    background: #000;
}

.banner{
    width: 100%;
    height: 500px;    
}

h1{
    margin-top: 3rem;
    padding: 1rem;
}

nav{    
    background-color: transparent;    
    display: flex;
    justify-content: flex-end;    
    gap: 0.5rem;
    position: relative;
    top: 2vh;
    right: 1.5vh;
}

nav a {
    background: yellow;
    color: green;
    padding: 1rem;
    border-radius: 0.5rem;
    display: inline-block;  
    text-align: center;
    justify-content: center;    
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    background-color: green;
    color: yellow;
    transform: scale(1.1);
}

main{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.titulo{
    display: flex;
    justify-content: start;
}

h2{    
    background: yellow;
    margin-top: 1rem;
    color: #000;
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 100px;
    height: 100px;
    margin: 1rem;
    background-color: transparent;
}

section{
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

article{
    margin-left: 2rem;
    width: 100%;
}

article p {
    padding-left: 3vw;
}

main h3{
    margin: 1rem;
}

main dl dd ul {
    list-style: none;
}

table{
    width: 60vw;
    height: 30vw;
    padding: 5vw;
    border-collapse: collapse;
}
caption{
    font-style: italic;
    text-align: start;
    margin-left: 20%;
    margin-top: 1vw;
}

td{
    text-align: center;
    width: 2vh;
    height: 5vh;
}