*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    background: #000;
}

.banner{
    width: 100%;
    height: 500px;    
}

h1{
    margin-top: 3rem;
    padding: 1rem;
}

nav{    
    background-color: transparent;    
    display: flex;
    justify-content: flex-end;    
    gap: 0.5rem;
    position: relative;
    top: 2vh;
    right: 1.5vh;
}

nav a {
    background: yellow;
    color: green;
    padding: 1rem;
    border-radius: 0.5rem;
    display: inline-block;  
    text-align: center;
    justify-content: center;    
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    background-color: green;
    color: yellow;
    transform: scale(1.1);
}

main{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.titulo{
    display: flex;
    justify-content: start;
}

h2{    
    background: yellow;
    margin-top: 1rem;
    color: #000;
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 100px;
    height: 100px;
    margin: 1rem;
    background-color: transparent;
}

section{
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

article{
    margin-left: 2rem;
    width: 100%;
}

article p {
    padding-left: 3vw;
}

main h3{
    margin: 1rem;
}

main dl dd ul {
    list-style: none;
}

table{
    width: 60vw;
    height: 30vw;
    padding: 5vw;
    border-collapse: collapse;
}
caption{
    font-style: italic;
    text-align: start;
    margin-left: 20%;
    margin-top: 1vw;
}

td{
    text-align: center;
    width: 2vh;
    height: 5vh;
}

.contact{
    display: flex;
    justify-content: center;
}

.ubication{
    display: flex;
    justify-content: center;
}

.tituloResgistration{
    display: flex;
    justify-content: center;
}

form{
    width: 90%;
    padding: 1rem;
    outline: 1px solid yellow;
}
.formContainer{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1rem;
}

form .formContainer label{
    margin: 1rem;
}

form .formContainer label input{
    height: 2rem;
    font-size: medium;    
}

form .formContainer label input[type=text]{
    background: yellow;
    color: #000;
    padding: 12px;
    width: 250px;
    height: 20px;
}
form .formContainer label input[type=date]{
    background: white;
    color: black;
    width: 120px;
    height: 30px;
    padding: 2px;
}

.gender{
    padding: 15px;
    width: 50%;
    height: 30px;
}

.gender label{
    width: 70px !important;
    height: 20px;
}

fieldset{    
    border: none;
    width: 75%;
    padding: 3vh;
    display: flex;
    align-items: center
}

fieldset label{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

fieldset label input{
    margin-right: 10px;
}

.permission fieldset{
    display: flex;
    flex-wrap: wrap;
}

.permission fieldset label{
    width: 80%;
    display: inline-block;
}

.submit{
    width: 100%;
    display: flex;
    justify-content: center;
}

.submit input[type="submit"]{
    background: yellow;
    color: black;
    font-weight: 900;
    width: 150px;
    height: 50px;
}

@media (max-width: 426px){
    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: inherit;
        margin: 1rem;
    }
    nav a{
        padding: 10px;
        width: 33%;
    }
}